{% load static from staticfiles%}
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <link rel="stylesheet" href="{% static '/styles/main.css' %}">
    <fieldset class="zoneupload">
           <legend>Drag or Upload File Here</legend>
           <form name="upload" id="upload" enctype="multipart/form-data">
                   <input type="hidden" name="post" value="file">
                   <input type="file" name="fichier" id="fichier" class="fichier" onchange='openFile(event)'>
                   <span id="activite"></span>
           </form>
    </fieldset>
      <div id='output'>
        <div><span id='from'></span></div>
        <div><span id='to'></span></div>
        <div><span id='date'></span></div>
        <div><span id='subject'></span></div>
      </div>
      <script src="{% static '/scripts/main.js' %}" alt="My image"></script>
  </body>
</html>